body {
	position: relative;
	background-image: url("../images/backdrop2.jpg");
	background-size: cover;
	background-position: -27px 316px;
	max-height: 500px;
	min-height: 500px;
}

.card-img-top {
	width: 100%;
	height: 105px;
}

.card {
	float: left;
	background-color: white;
	margin: 5px;
	text-align: center;
	position: relative;
}

.navbar {
	background-color: #D91E2E;
	margin-bottom: 5px;
}

.navbar-brand {
	font-size: 30px;
	color: white;
}

.card-text {
	border: 2px black solid;
	background-color: black;
}

h4 {
	margin: 2px 0;
	font-size: 13px;
}
 
p {
	margin: 0;
}

.enemy-nav {
	width: 56.5%;
	background-color: #8FBC8F;
}

.card-title {
	padding: 0px;
}

.h1 {
	margin: 0;
	display: block;
}

.subheading {
	margin: 0 5px;
	background-color: #80A65B;
	width: 100%;
	font-size: 18px;
}

.heroesSubheading {
	text-align: center;
	background: #214DA6;
	color: #ffffff;
	margin: 5px;
	width: 100%;
	font-size: 20px;
	position: relative;
}

.villainsSubheading {
	background-color: #F25D27;
	color: #ffffff;
	text-align: center;
	margin: 5px;
	width: 100%;
	font-size: 20px;
	position: relative;
}

.instructions {
	padding: 5px;
}

.instructions .title {
	font-weight: bold;
}

.heroesRemaining {
	opacity: .3;
}

.villainsRemaining {
	opacity: .3;
}

.attackButton {
	visibility:hidden;
	margin-top: 20px;
}

.resetButton{
	visibility:hidden;
	margin-top: 20px;
	float: left;
}

.villainPickedResults p {
	background-color: #F5F5DC;
	margin-left: 54px;
	width: 100%;
}

.heroPickedResults p {
	background-color: #F5F5DC;
	margin-left: -45px;
	width: 100%;
	text-align: center;
}

.card-text {
	margin: 5px 0;
}

.defeated .card-img-top,
.defeated .card-body {
	opacity: 0.5;
}


.hero .card-body {
	background: #214DA6;
	color: #ffffff;
	font-size: 16px;
	padding: 1px 0;
}

.villain .card-body {
	background: #F25D27;
	color: #ffffff;
	font-size: 16px;
	padding: 1px 0;
}

.hero:hover, .villain:hover {
	top: -3px;
	border: 1px solid #fff;
}

.heroPicked .hero:hover, .villainPicked .villain:hover {
	top: 0;
	border: none;
}

.heroesRemaining .hero:hover {
	top: 0;
	border: none;
}

.villainsRemaining .villain:hover {
	top: 0;
	border: none;
}

.attackButton .btn {
	margin-top: 80px;
}

.resetButton .btn {
	margin-top: -80px;
}

.heroPickedSubheading, .villainPickedSubheading {
	width: 60%;
	margin: 0 auto;
}