body {
	position: relative;
	background-image: url("../images/backdrop2.jpg");
	background-size: cover;
	background-position: -27px 316px;
	max-height: 500px;
	min-height: 500px; 
	text-align: center;
	font-family: 'Mina', sans-serif;
	color: white;
}

header {
	margin-top: 30px;
	font-size: 2em;
}

.topSection {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.bottomSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.heroesContainer, .villainsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

img {
	width: 100%;
	height: 145px;
}

h4 {
	font-size: 13px;
}

.enemy-nav {
	background-color: #8FBC8F;
}


.subheading {
	width: 50%;
	margin: 0 auto;
	color: white;
	font-size: 16px;
}

.villainsSubheading, .heroesSubheading {
	color: #ffffff;
	font-size: 28px;
	position: relative;
	border-bottom: 1px solid #333;
	padding-bottom: 20px;
	margin-bottom: 20px;
} 

.instructions {
	padding: 8px;
}

.heroesRemaining, .villainsRemaining {
	opacity: .3;
}

.attackButton, .resetButton {
	visibility:hidden;
	margin-top: 20px;
}

.villainPickedResults p, .heroPickedResults p {
	color: white;
	font-size: 1.5em;
}

.defeated {
	opacity: 0.5;
}

.hero img {
	border: 2px solid #2474A6;
	color: #ffffff;
}

.villain img {
	border: 2px solid #E00B27;
	color: #ffffff;
}

.hero:hover, .villain:hover {
	opacity: 0.5;
}

.heroPicked .hero:hover, 
.villainPicked .villain:hover, 
.heroesRemaining .hero:hover,
.villainsRemaining .villain:hover {
	opacity: 1;
	top: 0;
	border: none;
}

.heroPicked, .villainPicked {
	justify-self: center;
	width: 50%;
	margin: 0 auto;
}

.instructions p {
	width: 50%;
	font-size: 1.2em;
	margin: 5px auto 40px auto;
}

@media only screen and (min-width: 980px) {
	.topSection {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1em;
		grid-row-gap: 1em;
	}
}


