body {
	background-color: black;
	text-align: center;
	font-family: 'Mina', sans-serif;
	color: white;
	background-image: url(../images/backdrop.jpg);
	background-position: cover;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	height: 100%;
}

.heading {
	color: black;
}

.left, .right {
	background-color: rgba(0, 0, 0, 0.699);
	box-shadow: 0 3px 6px #999, 0 3px 6px #999;
	margin-top: 25%;
	margin-bottom: 25%;
}

.heroesContainer, .villainsContainer{
	display: grid;
	grid-template-columns: 1fr;
}

.battleSection {
	margin-top: 15%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

img {
	height: 80px;
}

h4 {
	font-size: 13px;
}

.villainsSubheading, .heroesSubheading {
	color: #ffffff;
	font-size: 28px;
	position: relative;
	padding: 20px;
} 

.heroesRemaining, .villainsRemaining {
	opacity: .3;
}

.attackButton, .resetButton {
	visibility:hidden;
	margin-top: 20px;
}

.attackButton:hover, .resetButton:hover  {
	transform: scale(1.1,1.1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
  transform-style: preserve-3d;
}

.villainPickedResults p, .heroPickedResults p {
	color: white;
	font-size: 1.5em;
}

.defeated {
	opacity: 0.5;
}

.hero:hover, .villain:hover {
	transform: scale(1.1,1.1);
	transition: all 0.5s cubic-bezier(0,0,0.25,1);
  transform-style: preserve-3d;
}

.heroPicked .hero:hover, 
.villainPicked .villain:hover, 
.heroesRemaining .hero:hover,
.villainsRemaining .villain:hover {
	transform: none;
	opacity: 1;
	top: 0;
}

.heroPicked, .villainPicked {
	justify-self: center;
	width: 50%;
	margin: 0 auto;
}

.instructions p {
	width: 50%;
	font-size: 1.2em;
	margin: 5px auto 40px auto;
}

